<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ICalcService" />
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>

		</behaviors>
		<services>
			<service name="Calculator.Calculator" behaviorConfiguration="mexBehaviour">
				<endpoint address="MathService" binding="basicHttpBinding" contract="Calculator.ICalculator">

				</endpoint>
				<endpoint address="MathService" binding="netTcpBinding" contract="Calculator.ICalculator">

				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:5002/" />
						<add baseAddress="net.tcp://localhost:8090" />
					</baseAddresses>
				</host>

			</service>

		</services>		
	</system.serviceModel>
</configuration>